* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Dancing Script', cursive;
}

h2 {
  font-family: 'Dancing Script', cursive;
}

body {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  z-index: 999999999999;
  position: fixed;
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  margin: 0;
  padding: 0 3rem;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ffffff;
  top: 0;
}

ul {
  margin-bottom: 0;
}

.navbar {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-menu li {
  list-style: none;
  padding: 0 1rem;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #fff;
}

a.nav-link {
  color: #000000;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.nav-link:hover {
  color: rgb(209, 191, 159);
}

.hamburger {
  display: none;
}

.bar,
.fa-times {
  width: 1.5rem;
  height: 3px;
  display: block;
  color: #000000;
  padding: 0;
  margin: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #000000;
}

.bar:nth-child(1) {
  width: 100%;
}

.bar:nth-child(2) {
  width: 200%;
}

.bar:nth-child(3) {
  width: 300%;
}

@media (max-width: 992px) {
  .hamburger {
    display: block;
  }
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    width: 300%;
  }
  .active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    width: 300%;
  }
  .nav-menu {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 75px;
    right: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0 auto;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  a.nav-link {
    margin: 1rem 0;
    color: #333;
    z-index: 1;
  }

  .active {
    right: 0;
    z-index: 100;
    transition: 0.2s ease;
  }
}

@media screen and (max-width: 480px) {
  a.nav-link {
    padding: 0.75rem 0;
  }
}


#acg{
  display: flex;
  width: 95%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: center;
  margin: auto;
  margin-top: 5%;
}


.img1{
  width: 50%;
  height: 70vh;
  position: relative;
}

.demo-container{
  background-color: rgba(86, 119, 130, 0.8);
  backdrop-filter: blur(5px);
  width: 50%;
  text-align: center;
  padding: 0 3rem;
  font-size: 30pt;
  justify-content: space-evenly;
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#demo{
  color:wheat;
}

@import url('https://fonts.cdnfonts.com/css/wedding');

.typewriter {
  margin-top: 20px;
  font-family: 'Dancing Script', cursive; 
  font-weight: 900;
  font-size: 60pt;                           
}


/*Animação do relógio*/
  
.relogio{
  animation: blink 1s infinite;
  font-size: 30pt;
}
  
@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#festa{
  color: #567782;
  background-color: #ecd2c4;
  border: 2px solid yellowgreen;
}

#festa h2{
  text-align: center;
  padding: 30px;
  font-weight: 900;
  margin-top: 20px;
  font-family: 'Dancing Script', cursive;
  font-weight: 900;
  font-size: 60pt; 
}



.img-festa-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-festa-container img{
  width: 600px;
  border-radius: 15px;
  margin: 15px;
  margin-bottom: 40px;
}

.festa-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}

.eventos{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.eventos *{
  padding-top: 30px;

}

.eventos h3{
  font-size: 25pt;
}

.eventos p{
  font-size: 15pt;
}

iframe{
  border-radius: 15px;
}


.eventos-item{
  width: 70vh;
}



/*Secção onde ficar/ hotéis*/
#ondeficar{
  background-color: rgba(86, 119, 130, 0.8);
  backdrop-filter: blur(5px);
  text-align: center;
  padding: 0 3rem;
  padding-top: 100px;
  font-size: 30pt;
  text-decoration: none;
  color: #fff;
}

.hoteis{
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 95%;
  justify-content: space-around;
}

.hotel-item{
  background-color: rgba(86, 119, 130, 0.4);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: auto;
  margin-bottom: 100px;
  border: 2px solid grey;
}

.hotel-item a{
  padding-bottom: 50px;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.hotel-item iframe{
  margin-top: 75px;
  margin-bottom: 75px;
}