* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Dancing Script', cursive;
}

h2 {
  font-family: 'Dancing Script', cursive;
}

body {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  
}

.logo {
  color: #ecd2c4;
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  z-index: 999999999999;
  position: fixed;
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  margin: 0;
  padding: 0 3rem;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ecd2c4;
  top: 0;
}

ul {
  margin-bottom: 0;
}

.navbar {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-menu li {
  list-style: none;
  padding: 0 1rem;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #ecd2c4;
}

a.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color:#567782;
}

a.nav-link:hover {
  color: rgb(209, 191, 159);
}

.hamburger {
  display: none;
}

.bar,
.fa-times {
  width: 1.5rem;
  height: 3px;
  display: block;
  color: #000000;
  padding: 0;
  margin: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #000000;
}

.bar:nth-child(1) {
  width: 100%;
}

.bar:nth-child(2) {
  width: 200%;
}

.bar:nth-child(3) {
  width: 300%;
}

@media (max-width: 992px) {
  .hamburger {
    display: block;
  }
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    width: 300%;
  }
  .active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    width: 300%;
  }
  .nav-menu {
    background-color: #ecd2c4;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 75px;
    right: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0 auto;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  a.nav-link {
    margin: 1rem 0;
    z-index: 1;
  }

  .active {
    right: 0;
    z-index: 100;
    transition: 0.2s ease;

  }
}

@media screen and (max-width: 480px) {
  a.nav-link {
    padding: 0.75rem 0;
  }
}


#acg{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: center;
  margin: auto;
  padding: 5% 5% 5% 5%;
  background-color: rgba(86, 119, 130, 0.8);
  backdrop-filter: blur(5px);
}

#rightdiv{
  border-radius: 15px !important;
}

.img1{
  width: 50%;
  height: auto;
  flex-grow: 1;
}

.demo-container{
  width: 40%;
  text-align: center;
  font-size: 35pt;
  justify-content: space-evenly;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.typewriter{
  color: #ecd2c4;
}


.demo-container{
  animation: slide-in-bl 1s linear 0s 1 normal none;
}

.img1{
  animation: slide2-in-bl 1s linear 0s 1 normal none;
  border-radius: 15px !important;
  padding: 50px;
}

@keyframes slide2-in-bl {
			
		0% {
			transform:translateY(-1000px) translateX(1000px);
			opacity:0;
		}
		100% {
			transform:translateY(0) translateX(0);
			opacity:1;
		}
	}

@keyframes slide-in-bl {
			
		0% {
			transform:translateY(1000px) translateX(-1000px);
			opacity:0;
		}
		100% {
			transform:translateY(0) translateX(0);
			opacity:1;
		}
	}

#demo{
  color:#ecd2c4;;
}

@import url('https://fonts.cdnfonts.com/css/wedding');

.typewriter {
  margin-top: 20px;
  font-family: 'Dancing Script', cursive; 
  font-weight: 900;
  font-size: 60pt;                           
}


/*Animação do relógio*/
  
.relogio{
  animation: blink 1s infinite;
  font-size: 35pt;
}
  
@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#festa{
  color: #ecd2c4;
  backdrop-filter: blur(5px);
  background-color: #77929b;
  padding-top: 80px;
}

#festa h2{
  text-align: center;
  font-weight: 900;
  margin-top: 20px;
  font-family: 'Dancing Script', cursive;
  font-weight: 900;
  font-size: 60pt; 
}

.festa-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  text-align: center;
  align-items: flex-end;
  padding-bottom: 30px;
  padding-top: 50px;
  margin: auto;
}


.img-festa-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: auto;
  width: 50%;
}

.img-festa-container *{
  border-radius: 15px;
  margin-bottom: 40px;
  max-width: 70%;
}

.eventos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}

.eventos h3{
  font-size: 25pt;
}

.eventos p{
  font-size: 15pt;
}

iframe{
  border-radius: 15px;
}


.eventos-item{
  width: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eventos-item *{
  padding-bottom: 30px;
}



/*Secção onde ficar/ hotéis*/
#ondeficar{
  color: #567782;
  backdrop-filter: blur(5px);
  text-align: center;
  padding: 0 3rem;
  padding-top: 100px;
  font-size: 35pt;
  text-decoration: none;
  background-color: #ecd2c4;
}

.hoteis{
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 95%;
  justify-content: space-around;
  align-items: stretch;
  padding-bottom: 150px;
}

.hotel-item{
  background-color: #debdab52;
  backdrop-filter: blur(5px);
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 50px 20px 50px 20px;
  margin: auto;
  width: 300px;
  height: 400px;
  margin-bottom: 30px;
}

.hotel-item a{
  text-decoration: none;
  text-align: center;
  color: #567782;
  justify-content: center;
}

.hotel-item iframe{
  justify-content: center;
}

#ondeficar h6{
  padding-top: 40px;
}

#ondeficar a{
  font-family: 'Dancing Script', cursive;
}

#ondeficar a:hover{
  color: rgb(53, 67, 53);
}



#donativos{
  color: #ecd2c4;
  background-color:#77929b;
  padding-top: 30px;
  text-align: center;
  text-decoration: none;
}

#donativos h2{
  text-align: center;
  font-weight: 900;
  margin-top: 20px;
  font-family: 'Dancing Script', cursive;
  font-weight: 900;
  font-size: 60pt;
  color: #ecd2c4;
}

.contrib-container{
  padding: 100px 0 100px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.contrib-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contrib-item h6{
  font-size: 35pt;
  color: #ecd2c4;
}

.contrib-item p{
  font-size: 15pt;
  margin: 10px 0 10px 0;
  color: #ecd2c4;  
}

.contrib-item a{
  font-size: 18pt;
  text-decoration: none;
  padding-top: 20px;
  color:#ecd2c4;
}

#afesta{
  background-color: #ecd2c4;
  backdrop-filter: blur(5px);
  padding-top: 30px;
  text-align: center;
  text-decoration: none;
  color: #567782;;
}

#afesta h2{
  text-align: center;
  font-weight: 900;
  margin-top: 20px;
  font-family: 'Dancing Script', cursive;
  font-weight: 900;
  font-size: 60pt;
  padding-top: 30px;
  color: #567782;;
}

.afesta-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 150px
}

.afesta-item{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40%;
  color: #567782;

}

.afesta-item img{
  width: 90%;
  border-radius: 15px;
}

.afesta-item p {
  max-width: 90%;
  padding: 30px 0 30px 0;
  font-size: 15pt;
}

@media only screen and (max-width: 992px) {

  .typewriter {
    padding-top: 20%;
  }
  .typewriter{
    font-size: 35pt !important;
  }

  .relogio{
    padding-top: 10%;
    font-size: 25pt;
    padding-bottom: 5%;
  }

  .img1{
    width: 95%;
    padding: 0;
  }

  #afesta h2{
    font-size: 35pt;
  }

  #acg{
    padding-bottom: 10%;
  }

  .afesta-container{
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 95%;
  }

  .afesta-item{
    margin-bottom: 5%;
    padding-bottom: 10%;
    align-items: center;
    width: 95%;
  }

  .festa-container{
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .eventos p{
    text-align: center;
    max-width: 300px;
  }

  #festa{
    align-items: center;
  }
  #festa h2{
    font-size: 35pt;
    padding-bottom: 5%;
  }

  #festa h3{
    font-size: 20pt;
  }

  #festa p{
    max-width: 80%;
    text-align: center;
  }

  #festa iframe{
    max-width: 300px;
    height: auto;
  }

  .festa-container{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin:auto;
  }
  .img-festa-container{
    margin:0;
    padding: 0;
    padding-top: 10%;
    width: 95%;
    height: auto;
  }

  .img-festa-container img{
    max-width: 90%;
  }
  
  h1{
    font-size: 35pt;
  }

  .hotel-item{
    font-size: 35pt;
  }

  #donativos h2{
    font-size: 35pt;
  }

  .contrib-item{
    padding-bottom: 10%;
    padding-top: 0;
  }

  .contrib-item h6{
    font-size: 20pt;
  }

  .contrib-container{
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .eventos-item{
    align-items: center !important;
  }

  .eventos-item p{
    margin:0;
    width: 300px;
    align-self: center;

  }
}